
<div class="menu">
                <div class="principal">
                    <a href="#" class="lienmenu">Louer</a>
                </div>
                <div class="culture">
                    <a href="#" class="lienmenu">Acheter</a>
                </div>
                <div class="villes">
                    <a href="#" class="lienmenu">Administrer</a>
                </div>
                <div class="paysages">
                    <a href="#" class="lienmenu">Loisirs</a>
                </div>
                <div class="festivals">
                    <a href="#" class="lienmenu">Administrer loisirs</a>
                </div>
                <div class="nourritures">
                    <a href="#" class="lienmenu">Commerciaux</a>
                </div>
                <div class="sportives">
                    <a href="#" class="lienmenu">Sportifs</a>
                </div>
                <div class="autres">
                    <a href="#" class="lienmenu">Autres</a>
                </div>
 </div>
