/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 févr. 2019, 17:10:09
    Author     : gi
*/
*{
    box-sizing: border-box;
}
@font-face {
  font-family: Cardinal;
  src: url('../Cardinal.ttf');
}
.btn-primary over{
    background-color: #4a3932;
    border-color: #4a3932;
}
body{
    background-color: #2f1f1f;
}



.container{
    width: 1200px;
    max-width: 1200px;
    margin-top: 70px !important;
    justify-self: center;
}
a{
    color: #e5d0d0;
    
}
h1{
    color: #eae0e0;
    font-size: 2.6rem;
    font-family: "Quicksand", 'ZCOOL XiaoWei', sans-serif;
    font-weight: 100;
    /*font-family: 'Italiana', serif;
    font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Bubbler One', sans-serif;
    font-family: 'Lato', sans-serif;
   */
}
.medieval{
    font-family: 'cardinal';
    font-size: 1.6em;
    margin-right: -6px;
    color: #c83648;
    text-transform: capitalize;
    font-weight: 400;
}
h5{
    font-family: "Lato",'cardinal';
    font-size: 1.5em;
    font-weight: 400;
    
    color: #e5d0d0;
}
.carte{
    /*background-color: #5c5442;
    border-style:groove; 
    border-color:#4a4432;
    border-left-width: 10px;*/
    background-color: #5c4942;
    border-style: groove;
    border-color: #4a3932;
    border-left-width: 13px;
    margin-top: 70px;
    height: 550px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 5px;
    border-radius: 1% 4% 4% 1%;
    padding: 1.2rem;
    background-image: url("../images/cuir1.jpg");
}
.card-text{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #e5d0d0;
    
}
.cadre{
    width: 86%;
    margin: 0px;
    min-height: 0px;
    position: absolute;
    
    height: 239px;
    top: 164px;
    left: 8.5%;

}
.chevrondroit{
    position: absolute;
    top:250px;
    right: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    color: #fee;
    width: 20px;
    z-index: 20;
    opacity: 0.5;
}
.chevrongauche{
    position: absolute;
    top:250px;
    left: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    color: #fee;
    width: 20px;
    z-index: 20;
    opacity: 0.5;
}
.chevrondroit:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}
.chevrongauche:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}
.rens{
    position: absolute;
    bottom: 70px;
    color: #f4efef;
    width: 80%;
    right: -4%;
}
.date{
    position: absolute;
    bottom: 10px;
    color: #f4efef;
    width: 80%;
    right: -4%;
}
.enluminure{
    position: absolute;
    bottom: 8px;
    left: 41px;
    height: 190px;
    width: 50px;
}
.liseret{
    width: 20px;
    left: 49px;
    opacity: 0.65;
}
.photocadre{
    width: 91%;
    height: 232px;
    z-index:1;
    position:absolute;
    overflow: hidden;
    border-radius: 5%;
    border-style: groove;
    border-color: #895038;
    border-width: 3px;
}
.photocadre.hidden{
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    max-height: 0;
    
}
.jumbotron{
    background-color:    #f2eded;

}