{% extends 'base.html.twig' %}

{% block stylesheets %}
 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">   
 <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="css/menu.css">

{% endblock %}
{% block body %}
<div class="menu">
    <div class="flex-container">

        
        <div class="las auto">
            <p class="lora" style="font-size: 1.2em;"></p>
        </div>
        <div class="las initial"></div>
 
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex;background-color: #28292a !important;">
        
        

        <div class="collapse navbar-collapse flex-containe" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active four" style="width: 650px;"> </li>
               
                <li class="nav-item active ">
                    <a class="nav-link" style="color: #eae9e8 !important;" href="{{path('home')}}">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color: #eae9e8 !important;" href="{{path('acheter')}}">Acheter <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #eae9e8 !important;" href="{{path('admin')}}">Vendre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: #eae9e8 !important;" href="#">Louer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: #eae9e8 !important;" href="#">Mettre en location</a>
                </li>
            </ul>
           {# <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>#}
        </div>
    </nav>


    <div class="imageprincipale" ><img src="images/fond.jpg" style="width: 100%;"></div>
</div>
{% endblock %}